

body {
    background-image: url('../img/background.jpg');

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    /* height: 100%; */
}

.App {
    padding: 3rem 2rem;

    h2, h3 {
        margin: 0
    }
}

.addNotes {
    background-image: url('../img/addnote.png');
    background-position: center;
    background-size: cover;

    height: 250px;
    width: 250px;

    padding: 2rem 1rem 1rem 1rem;
    margin: 1rem 0;
}

.notes {
    background-image: url('../img/stickynote.png');
    background-position: center;
    background-size: cover;

    height: 250px;
    width: 250px;

    padding: 2rem 1rem 1rem 1rem;
    margin: 1rem;
}

.deleteButton, .addButton {
    background-color: transparent;
    font-weight: bold;
}

.addButton {
    border: transparent;
    transform: rotate(10deg)
}

.deleteButton {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(-5deg)
}

.mobileDisplay {
    background-image: url('../img/mobileStickynote.png');
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 50px;
    margin: 0.5rem 0;
}

.deadline {
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    transform: rotate(-1deg);
    margin: 0;
    color: red;
    border: dashed gray 1px;
    padding: 0.2rem;
}

.mobileDeadline {
    color: red;    
}